#header {
    text-align: center;
}

ul{
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: solid 1px;
    border-bottom: solid 1px;
}
li{
    float: left;
    color: white;
    padding: 20px;
    width: ;
    text-align: center;
    vertical-align: middle;
}

#progressBar {
    background-color: darkorchid;
    height: 40px;
    color: floralwhite;
    text-align: center;
}

#gameDisplay {
    color: purple;
    background-color: aqua;
    width: 100%;
    height: 50em;
}